

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Ajout image homepage */
.img-homepage {
    height: 400px;
    background: url('/Content/Image/img_front.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}
.img-homepage h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 10px 15px; 
}

/* Gestion style card */
.row .col {
    padding: 10px;
}

.card .card-image .card-title {
    background: rgba(0,0,0,0.3);
    text-align: center;
    text-transform: uppercase;
}

.card .card-content {
    min-height: 175px;
}
.card-content .lieu span i, .card-content .heure span i {
    margin-right : 5px !important;
    color: teal;
}

.card .card-action { 
    padding: 10px;
}
.card .card-action ul {
    display: inline-block;
    margin: auto;
}

.card .card-action li {
    display: inline-block;
}

/* Gestion page détails */
.descriptif i {
    margin-right: 8px;
}

/* Gestion modal */
.modal.open {
    height: 100%;
    width: 100%;
}
.modal .modal-content {
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
    z-index: 9999;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
