

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Ajout image homepage */
.img-homepage {
    height: 400px;
    background: url('/Content/Image/img_front.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}
.img-homepage h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 10px 15px; 
}

/* Gestion style card */
.row .col {
    padding: 10px;
}

.card .card-image .card-title {
    background: rgba(0,0,0,0.3);
    text-align: center;
    text-transform: uppercase;
}

.card .card-content {
    min-height: 175px;
}
.card-content .lieu span i, .card-content .heure span i {
    margin-right : 5px !important;
    color: teal;
}

.card .card-action { 
    padding: 10px;
}
.card .card-action ul {
    display: inline-block;
}
.card .card-action li {
    float: left;
}
.card .card-action a {
    color: white !important;
    text-transform: capitalize !important;
    font-size: 16px;
}
