@{
    ViewBag.Title = "Home Page";
}

<div class="img-homepage">
    <h1> SG Events</h1>
</div>
<div class="jumbotron">
    <h2>Bienvenue sur votre application</h2>
    <p class="lead">Ce site vous permettra de choisir un évènement , de vous y inscrire et de choisir le parking le plus proche.</p>
    <p><a href="~/Evenements" class="btn btn-primary btn-lg">Voir les évènements</a></p>
</div>

